/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');


/*1. Zerando configurações padrão do browser */
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

/*2. Layuot */

body{

    width: 100vw;
    height: 100vh;

    /* Definindo cor de fundo do viewport */
    background-color: hsl(206, 47%, 93%);

    /* alinhando elementos ao centro no eixo x e y */
    display: grid;
    justify-content: center;
    align-items: center;
}

main{
    width: 47vw;
    height: 60vh;
    /* definindo layout como no wireframe */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    "topo topo"
    "left right"
    ;
}


/*3. Definindo box top */

article{
    grid-area: topo;
    padding: 37px;
    background-color: white;
    border-radius: 8px 8px 0 0;
}

article h1{
    font-size: xx-large;
    font-weight: 700;
    color: hsl(179, 62%, 43%);
    margin-bottom: 20px;
}

article h2{
    font-size: larger;
    font-weight: 700;
    color: hsl(71, 73%, 54%);
    margin-bottom: 10px;
}

article p{
    color: hsl(218, 22%, 67%);
    word-spacing: 2px;
}

/*4. Definindo box left */

section{
    background-color: hsl(179, 61%, 44%);
    padding: 37px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: left;
    border-radius: 0 0 0 8px;
    /* Animação */
    transition: transform 0.5s;
}

/* 4.1 Definindo box left - animação */

section:hover{
    transform: scale(1.2);
}

section h3{
    margin-bottom: 10px;
    font-size: large;
    font-weight: 700;
    color: white;
}


/* 4.2 Definindo box left - preço e legenda */
.preco{
    display: flex;
    align-items: center;
}

#preco-number{
    font-size: xx-large;
    font-weight: 700;
    color: white;
}

#preco-legenda{
    font-size: small;
    color: hsl(217, 17%, 85%);
    margin-left: 10px;
}

/* 4.3 Definindo box left - frase */
section p{
    color: white;
    font-size: medium;
    font-weight: 400;
    margin-bottom: 16px;
}

/* 4.4 Definindo box left - botão */

button{
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: hsl(71, 73%, 54%);
    color: white;
    font-size: large;
    font-weight: 700;
    /* Animação */
    transition: 
        background-color, 0.6s,
        color, 0.6s;
}

/* 4.5 Definindo box left - Animaçõa botão */

button:hover{
    background-color: white;
    color: hsl(179, 62%, 43%);
}


/* 5. Definindo box right */

aside{
    padding: 37px;
    grid-area: right;
    background-color: hsl(179, 51%, 53%);
    border-radius: 0 0 8px 0;
    /* Animação */
    transition: transform 0.5s;
}


/* 5.1 Definindo box right - animações */

aside:hover{
    transform: scale(1.2);
}

aside h3{
    font-size: large;
    margin-bottom: 20px;
    font-weight: 700;
    color: white;
}

aside ul{
    color: white;
    font-size: medium;
}
